<% @user ||= current_user %>
<div class="stats">
   <%= link_to following_path @user do %>
    <strong id="following" class="stat">
      <strong id="followers" class="stat">
      <%= t "users.following.count" , count: @user.following.size %>
    </strong>
    </strong>
    <%= t "users.controllers.following" %>
  <% end %>
  <%= link_to followers_path @user do %>
    <strong id="followers" class="stat">
      <%= t "users.followers.count" , count: @user.followers.size %>
    </strong>
    <%= t "users.controllers.follower" %>
  <% end %>
</div>
