<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: Settings.number.sizes), micropost.user %>
  <span class="user"><%= link_to micropost.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.display_image if micropost.image.attached? %>
    </span>
  <span class="timestamp">
    <%= t "mircoposts.posted" %><%= time_ago_in_words micropost.created_at %><%= t "mircoposts.ago" %>.
    <% if current_user? micropost.user %>
      <%= link_to t("layouts.application.delete"), micropost, method: :delete,
          data: { confirm: t("layouts.application.confirm") } %>
    <% end %>
  </span>
</li>
